@model Spendings.WEB.Models.HistoryVm
@using Newtonsoft.Json
@{
    if(Model.Months.Count == 0)
    {
        return;
    }
    ViewData["Title"] = "History";

    var labels = new List<string>();
    var expenses = new List<decimal>();
    var income = new List<decimal>();
    var bills = new List<decimal>();
    var savings = new List<decimal>();

    foreach(var month in Model.Months)
    {
        labels.Add($"{month.Month}/{month.Year}");
        expenses.Add(month.TotalExpenses);
        income.Add(month.TotalIncome);
        bills.Add(month.TotalBills);
        savings.Add(month.TotalSavings);
    }

    var labelsJson = JsonConvert.SerializeObject(labels);
    var expensesJson = JsonConvert.SerializeObject(expenses);
    var incomeJson = JsonConvert.SerializeObject(income);
    var billsJson = JsonConvert.SerializeObject(bills);

    savings[savings.Count-1] = 0;
    var savingsJson = JsonConvert.SerializeObject(savings);

}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h1 class="h3 mb-3">History</h1>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <canvas id="chartjs-bar"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h1 class="h3 mb-3">Savings</h1>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <canvas id="chartjs-bar-savings"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section scripts{
    <script>

        $(document).ready(function () {
            $('#history-tab').addClass("active");
        });

        $(function () {
            // history chart
            new Chart(document.getElementById("chartjs-bar"), {
                type: "bar",
                data: {
                    labels: JSON.parse('@Html.Raw(labelsJson)'),
                    datasets: [{
                        label: "Expenses",
                        backgroundColor: window.theme.primary,
                        borderColor: window.theme.primary,
                        hoverBackgroundColor: window.theme.primary,
                        hoverBorderColor: window.theme.primary,
                        data: JSON.parse('@Html.Raw(expensesJson)'),
                        barPercentage: .75,
                        categoryPercentage: .5,
                        stack:1
                    },
                        {
                        label: "Bills",
                        backgroundColor: "#ab0728",
                        borderColor: "#ab0728",
                        hoverBackgroundColor: "#ab0728",
                        hoverBorderColor: "#ab0728",
                        data: JSON.parse('@Html.Raw(billsJson)'),
                        barPercentage: .75,
                        categoryPercentage: .5,
                        stack:1
                    }, {
                        label: "Income",
                        backgroundColor: "#dee2e6",
                        borderColor: "#dee2e6",
                        hoverBackgroundColor: "#dee2e6",
                        hoverBorderColor: "#dee2e6",
                        data: JSON.parse('@Html.Raw(incomeJson)'),
                        barPercentage: .75,
                            categoryPercentage: .5,
                        stack:2
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    legend: {
                        display: false
                    },
                    scales: {
                        yAxes: [{
                            gridLines: {
                                display: false
                            },
                            stacked: true,
                            ticks: {
                                stepSize: 20
                            }
                        }],
                        xAxes: [{
                            stacked: true,
                            gridLines: {
                                color: "transparent"
                            }
                        }]
                    }
                }
            });


            // savings chart
            new Chart(document.getElementById("chartjs-bar-savings"), {
                type: "bar",
                data: {
                    labels: JSON.parse('@Html.Raw(labelsJson)'),
                    datasets: [{
                        label: "Savings",
                        backgroundColor: window.theme.primary,
                        borderColor: window.theme.primary,
                        hoverBackgroundColor: window.theme.primary,
                        hoverBorderColor: window.theme.primary,
                        data: JSON.parse('@Html.Raw(savingsJson)'),
                        barPercentage: .75,
                        categoryPercentage: .5,
                        stack:1
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    legend: {
                        display: false
                    },
                    scales: {
                        yAxes: [{
                            gridLines: {
                                display: false
                            },
                            stacked: true,
                            ticks: {
                                stepSize: 20
                            }
                        }],
                        xAxes: [{
                            stacked: true,
                            gridLines: {
                                color: "transparent"
                            }
                        }]
                    }
                }
            });

        });
    </script>
}
